<section class="featured mt-5">
  <div class="d-flex justify-content-center">
    <h1>Zapraszamy do zobaczenia naszej oferty sprzętu foto!</h1>
  </div>
</section>
<carousel>
  <slide>
    <img src="assets/images/foto1.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/foto2.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/foto3.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel>

